.App {
	display:flex;
	flex:1;
	align-items:center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Validation {
  margin: auto;
  width: 30%;
}

.App-intro {
  font-size: large;
}

.Login-form {
}

#success-icon {
	margin: auto;
	margin-left:100px;
	width:10%;
}

#validation-group {
}
#validate-button {
	margin-top:20px;
	width:50%;
}

#validation-icon {
	margin: 0px;
}

.medList {
	margin: auto;
	width: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
